<!DOCTYPE html>
 <html>
  <head>
    <meta charset="utf-8">
    <title>Tralennial: The travel site for Millenails</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
    <div class="container">
      {% include 'includes/_navbar.html' %}
      <div class="container">
    	   {% block content %}
         {% endblock %}
      </div>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

      </script>
    </div>
  </html>
