<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

    <script type="text/javascript">
    function initMap(){
        var myLatLng = {lat: {{destination[0].lat}}, lng: {{destination[0].lng}}};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: '{{airport.name}}'
        });




      };
    </script>

  <h1> Look for your travel destination! </h1>
  <p> Select one of our starting points and end with an airport </p>
  <body onload="initMap()">
    <div class = "container">
      <h1>{{destination[0].name}}</h1>
      <div id="map" style="width:100%; height:900px;"></div>
</div>
</body>
{% endblock %}
