<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
  <h1> Look for your travel destination! </h1>
  <p> Select one of our starting points and end with an airport </p>
  <body>
    <div class="container">
      <h1>Choose an Airport</h1>
      {% for airport in airports %}
      <form action="/search/{{airport.key}}" class="form" method= "post">
      <p><a href="/search/{{airport.key}}" class="btn btn-primary" role="button">{{airport.name}}</a></p>
      {% endfor %}
</div>
</body>
{% endblock %}
